@model IEnumerable<PhoneBook_WebInterface.Models.CategoryView>

@{
    ViewBag.Title = "Группы";
}

<h2>Список групп</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
		<th>
            @Html.DisplayNameFor(model => model.Abonent.Name)
        </th>
		<th>
            @Html.DisplayNameFor(model => model.Abonent.phoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
		<td>
            @Html.DisplayFor(modelItem => item.Abonent.Name)
        </td>
		<td>
            @Html.DisplayFor(modelItem => item.Abonent.phoneNumber)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
